<div id="edit-form">
  <%= simple_form_for @user, :validate => false do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <h2> Wizard Info</h2>
    <hr>
    <%= f.input :pet, :collection => ["Cat", "Frog", "Owl"] %>
   <hr>
   <h2>Wand Info</h2>
   <hr>
    <%= f.input :wand_tree, :collection => %w[Acacia Alder Apple Ash Aspen Beech Blackthorn Cedar Cherry Chestnut Cypress Dogwood Ebony Elder Elm Fir Hawthorn Hazel Holly Hornbeam Maple Oak Pear Pine Poplar Redwood Rosewood Rowan SilverLime Spruce Sycamore Vine Walnut Willow Yew] %>
    <%= f.input :wand_core, :collection => ["Dragon Heartstring", "Phoenix Feather", "Unicorn Tail Hair", "Veela Hair", "Thestral Hair"] %>
    <%= f.input :wand_length, :as => :float %>
    <%= f.input :wand_spec, label: "Wand Flexibility", :collection => ["Springy", "Surpringly Swift", "Rigid", "Unyielding", "Other"], hint: "If your wand flexibility is not here. Contact us and we'll add it!" %>
  <hr>
   <h2>House Info</h2>
  <hr>
    <%= f.input :house, :collection => ["Slytherin", "Gryffindor", "Hufflepuff","Ravenclaw"] %>
    <%= f.input :house_points, :as => :integer %>
    <hr>
    <h2>Social</h2>
    <p>Add some ways you want people to get in touch with you!</p>
    <hr>
    <%= f.input :facebook, label: "http://facebook.com/", :hint => "Just your facebook ID please." %>
    <%= f.input :tumblr,   label: "http://", hint: ".tumblr.com/" %>
    <%= f.input :twitter,  label: "http://twitter.com/"   %>
    <%= f.input :google_plus, label: "https://plus.google.com/", hint: "/posts" %>
    <%= f.input :skype, label: "Skype ID"    %>
    <%= f.input :aim, label: "AIM name"     %>
    <%= f.input :site, label: "Website"     %>
    <%= f.input :site2,label: "Another Website" %>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>