<% present @user do |user_presenter| %>
	<%= link_to "Edit Profile", edit_user_path(@user), :class => "big button  edit primary" if has_permission? %>
	<div class="clearfix"></div>

	<div id="profile">
		<div id="account" class=<%= @user.house.to_s %>>
			<div id="house" class=<%= @user.house.to_s %>>
			<%= user_presenter.house %>
			</div>
			<div id="name">			
				<p><%= @user.name %></p>
			</div>
			<div id="house-points">
				<p class="hpoints">House Points</p>
				<%= user_presenter.house_points %>
			</div>
			<div class="clearfix"></div>
			<div id="icon">
				<%= user_presenter.pet %>
			</div>
		</div>
		<div class="clearfix"></div>
		<div id="social">
		    <h2>Muggle Contact Links</h2>
		    <hr>
		    <div id="links">
			    <ul>
						<li><%= user_presenter.link "twitter"  %><br/><span class="desc">twitter</span></li>
						<li><%= user_presenter.link "tumblr"   %><br/><span class="desc">tumblr</span></li>
						<li><%= user_presenter.link "facebook" %><br/><span class="desc">facebook</span></li>
					</ul>
					<div class="clearfix"></div>
					<ul>
						<li><%=	user_presenter.link "aim"      %><br/><span class="desc">aim</span></li>
						<li><%= user_presenter.link "skype"    %><br/><span class="desc">skype</span></li>
			    	<li><%= user_presenter.link "google_plus"   %><br/><span class="desc">google +</span></li>
			 <!-- <li><%= user_presenter.link "youtube"  %><br/><span class="desc">youtube</span></li>-->
				    </ul>
				    <div class="clearfix"></div>
					<ul>	
				    <li><%= user_presenter.email %><br/><span class="desc">email</span></li>
				    <li><%= user_presenter.site  %><br/><span class="desc">site</span></li>
				    <li><%= user_presenter.site2 %><br/><span class="desc">site</span></li>
				  </ul>
			  <div class="clearfix"></div>
		    </div>
		</div>

		<div id="wand">
			<h2>Wand</h2>
			<hr>
			<%=  user_presenter.wand "tree"   %>
			<p> with </p>
			<%=  user_presenter.wand "core"   %><br/>
			<%=  user_presenter.wand "length", "  Inches Long," %> 
			<p> and </p> 
			<%=  user_presenter.wand "spec" %>
			<%= render :partial => "home/share" %>
		</div>
		<div class="clearfix"></div>



	</div>
<% end %>